html, body
	height: 100%

body
	overflow-y: scroll
	font-family: $firasans_book
	font-size: 15px
	color: $base_color
	background-image: url(./img/background.png)

.content
	min-height: 100%
	max-width: $site_width
	margin: 0 auto
	padding-bottom: 81px
	margin-bottom: -81px

a
	outline: none
	color: inherit
	text-decoration: none

p
	margin: 0
	padding: 0

img
	width: 100%
	height: auto
	outline: none

ul
	margin: 0
	padding: 0
	li
		list-style: none

.wrapper
	max-width: $content_width
	margin: 0 auto
	+clearfix

.aside
	width: 250px
	float: left

.main
	width: 650px
	float: right
	& > section
		background-color: $bg_blocks
		border-radius: 4px
		margin-bottom: 26px
		overflow: hidden

.block-title
	color: $accent_color
	font-size: 27px
	line-height: 30px
	padding: 20px 0 0 22px
	margin: 0 0 24px 0
	&::after
		content: ''
		display: block
		background-color: $accent_color
		width: 341px
		height: 2px
		margin-top: 20px
		margin-left: -22px