<footer class="footer">
	<div class="footer__wrap">
		<div class="footer__lock">
			<a href="/auth" class="footer__lock-link"></a>
		</div>
		<div class="footer__copy">
			<p class="footer__copy-text">
				© 2015. Это мой сайт, пожалуйста, не копируйте и не воруйте его
			</p>
		</div>
	</div>
</footer><!-- .footer -->