<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- SEO -->
<meta name="keywords" content="">
<meta name="description" content="">
<!-- favicon -->
<link rel="shortcut icon" href="{{ config.base_url }}build/img/favicon.ico" type="image/x-icon">
<!-- ie -->
<script src="{{ config.base_url }}build/libs/modernizr.js"></script>
<!-- css -->
<link rel="stylesheet" href="{{ config.base_url }}build/css/style.min.css">
{% block top_css %} {% endblock %}
<title>{{ title }}</title>