<header class="header">
	<div class="header__wrap">
		<div class="logo">
			<a href="{{ config.base_url }}">
				<img src="{{ config.base_url }}dist/img/logo.png" alt="logo" class="logo__img">
			</a>
		</div><!-- .logo -->
		<ul class="social">
			<li class="social__item">
				<a href="#" class="social__link icon--vk"></a>
			</li>
			<li class="social__item">
				<a href="#" class="social__link icon--tw"></a>
			</li>
			<li class="social__item">
				<a href="#" class="social__link icon--facebook"></a>
			</li>
			<li class="social__item">
				<a href="#" class="social__link icon--github"></a>
			</li>
		</ul><!-- .social -->
	</div>
</header>