{% extends 'main_template.twig' %}

{% block top_css %}
	<link rel="stylesheet" href="{{ config.base_url }}dist/css/login.min.css">
{% endblock %}

{% block authform %}
	<section class="login">
		<div class="login-block">
			<h2 class="login-block__head">Авторизуйтесь</h2>
			<form action="#" class="formLogin">
				<p class="formLogin__label">Логин</p>
				<input type="text"
							 class="formLogin__name"
							 placeholder="Введите логин"
							 qtip-content="введите логин"
							 autofocus>

				<p class="formLogin__label">Пароль</p>
				<input type="password"
							 class="formLogin__pass"
							 placeholder="Введите пароль"
							 qtip-content="введите пароль"
				>
				<button type="submit" class="btn btn--login">Войти</button>
			</form>
		</div><!-- .login-block -->
	</section><!-- .login -->
{% endblock %}

{% block scripts %}
	<script src="{{ config.base_url }}dist/js/vendor-min.js"></script>
	<script src="{{ config.base_url }}dist/js/login-min.js"></script>
{% endblock %}